@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
	font-family: 'Montserrat', sans-serif;
}

.css-1d4s0we{
    gap: 0px !important;
}
.css-xl1iz5{
    padding: 7px 12px !important;
    min-width: 140px !important;
}

.header-animate{
    animation: myAnim 1s ease 0s 1 normal forwards;
}

.active{
	color: white !important;
	font-weight: 700 !important;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: rotateX(70deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}